<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Artist Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{artist?.name}}</ion-card-title>
    </ion-card-header>
    <div class="content">
      @if(artist?.images) {
        <img [src]="images[0].url" style="width: 300px;"/>
      } @else {
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      }

        <ion-card-subtitle color="medium">#{{ artist?.popularity }} in the world</ion-card-subtitle>
        <ion-card-subtitle>{{ artist?.followers?.total }}</ion-card-subtitle>
        <ion-text>
        @for(i of artist?.genres; let idx = $index; track idx) {
            {{ i }}
            <!-- @if(idx === artist?.genres.length) -->
          }
        </ion-text>
    </div>
  </ion-card>
</ion-content>
<ion-button class="tester" (click)="handleClick()">click me</ion-button>
